<div id='blog' class='panel'>
  <%
    require 'cgi'
    if !(@posts = CACHE.get('blog-posts'))
      require 'open-uri'
      require 'net/http'
      require 'json'
      #base = "http://localhost:4000/feed.json"
      base = 'http://blog.baygross.com/feed.json'
      resp = Net::HTTP.get( URI(base) )
      @posts = JSON.parse( resp )
      CACHE.set('blog-posts', @posts, (60*10), {})
    end
  %>

  <% @posts.each do |a| %>

    <div class='post'>
      <a class='title' href='<%= a['url']%>'><%= a['title'] %></a>
      <div class='date'><%= a['date'] %></div>
      <div class='excerpt'>
        <%= CGI::unescape(a['excerpt'].to_s) %>
      </div>
      <a class='readmore' href='<%= a['url']%>'</a>Read more...</a>
    </div>
  <% end %>

</div>
