<div id='reading' class='panel'>
  <% 
    if !(@articles = CACHE.get('reading-list'))
      require 'open-uri'
      require 'net/http'
      require 'json'
      base = 'http://pocketapi.herokuapp.com/retrieve'
      resp = Net::HTTP.get( URI(base) )
      @articles = JSON.parse( resp )
      CACHE.set('reading-list', @articles, (60*60*12), {})
    end 
  %>
  
  
  <% @articles.each_with_index do |a, idx| %>
    <% c = idx > 13 ? 'hidden' : '' %>
    
    <div class='article <%= c %>'>
      <div class='leftblock'>
        <a class='title' href='<%= a['url']%>'><%= a['title'] %></a>
        <div class='author'><%= a['author'] %></div>
        <div class='date'><%= a['ts'] %></div>
        <div class='summary'>
          <%= a['summary'] %>
        </div>
        <a class='source' href='<%= a['source'] %>'><img src='<%= a['icon'] %>' /> <%= a['source'] %></a>
      </div>
      <img class='photo' src='<%= a['img'] %>' />
      <div class='clearfix'></div>
    </div>
  <% end %>
  
  <div id='reveal'>Show more</div>
  
  <script type='text/javascript'>
  $('#reveal').on('click', function(){
    $('.article.hidden').removeClass('hidden');
    $(this).hide();
  });
  </script>
</div>
